@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.Button{
  min-height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: $button-bcg;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;

  &__icon{
    max-width: 12px;
  }

  &--reverce{
    flex-direction: row-reverse;
    
    .Button__icon{
      transform: rotate(180deg);
    }
  }
}